@import url("https://use.typekit.net/djk0rvk.css");

/* The sidebar menu */

header div.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: black; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    padding-left: 20px;
}

/* The navigation menu links */
header div.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
}
header div.sidenav p{
    color: #818181;
    font-size: 20px;
}
header div.sidenav ul li {
    list-style-type: none;
}
header div.sidenav ul {
    padding: 0;
}
/* When you mouse over the navigation links, change their color */
header div.sidenav a:hover {
    color: #f1f1f1;
}
header div.test1 p{
    float: right;
    color: white;
    width: 600px;
    height: auto;
    border: 15px black;
    padding: 0px;
    margin: 0px;
    background-color: black;
}
body {
    margin: 0;
}
body div.box1{
    height: 100px;
    width: 100px;
}
/* Style page content */
h1{
    color: white;
}

main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    background-image: url("../images/JE_Banner-04.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

/*main div.test2 {
    background-color: aquamarine;
    width: 100%;
    border: 15px solid green;
    padding: 20px;
    margin: 0 auto;
    height: auto;
}/*

 */
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
/*media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}/*
}